/*
 * Globals
 */
/*
 * Globals
 */
/* Links */
a,
a:focus,
a:hover {
  color: #fff; }

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none;
  /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff; }

/*
 * Base structure
 */
html,
body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Open Sans', Times, serif;
  height: 100%;
  background-image: url("../../img/binding_light.png");
  background-repeat: repeat;
  text-align: center;
  font-size: 15px; }

@media all and (max-width: 500px) {
  html {
    font-size: 14px; } }

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  /* For at least Firefox */
  min-height: 100%;
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.5); }

.site-wrapper-inner {
  display: table-cell;
  vertical-align: top; }

.cover-container {
  margin-right: auto;
  margin-left: auto; }

/* Padding for spacing */
.inner {
  padding: 30px; }

/*
 * Cover
 */
.cover {
  padding: 0 20px; }

.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold; }

/*
 * Footer
 */
.mastfoot {
  color: #999;
  /* IE8 proofing */
  color: rgba(255, 255, 255, 0.5); }

/*
 * Affix and center
 */
@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0; }
  .mastfoot {
    position: fixed;
    bottom: 0; }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle; }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%;
    /* Must be percentage or pixels for horizontal alignment */ } }

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 700px; } }

body {
  overflow-x: hidden; }

p {
  font-size: 1.2rem; }

p.small {
  font-size: 1rem; }

a,
a:hover,
a:focus,
a:active,
a.active {
  color: #18bc9c;
  outline: none; }

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-weight: 700; }

.img-centered {
  margin: 0 auto; }

section h2 {
  margin: 0;
  font-size: 3em; }

.navbar {
  height: 6%;
  position: relative;
  margin: 0;
  text-transform: uppercase;
  font-weight: 700; }
  .navbar a:focus {
    outline: none; }
  .navbar .navbar-nav {
    letter-spacing: 1px; }
  .navbar li a:focus {
    outline: none; }
  .navbar a:hover {
    color: black; }

.navbar-default,
.navbar-inverse {
  border: none; }

@media (min-width: 768px) {
  .navbar {
    height: 8%; }
  .navbar-fixed-top {
    padding: 5px 0;
    transition: all 0.3s; }
    .navbar-fixed-top .navbar-brand {
      font-size: 1.5em; }
    .navbar-fixed-top.navbar-shrink {
      padding: 10px 0; }
      .navbar-fixed-top.navbar-shrink .navbar-brand {
        font-size: 1.5em; } }

.navbar-default .navbar-nav li.page-scroll a {
  text-shadow: none;
  font-size: 1.3em;
  padding-left: 30px;
  color: #9E9E9E; }
  .navbar-default .navbar-nav li.page-scroll a:hover {
    color: #233D4D;
    transition: .4s; }

@media (max-width: 768px) {
  .navbar-brand {
    font-size: 1.4em; }
  .navbar-collapse {
    border-bottom: 1px solid #BDBDBD;
    background-color: white; }
  .navbar-nav li.page-scroll {
    border-top: 1px solid #fbfbfb; } }

.navbar-brand {
  text-shadow: none; }

.container.home-banner {
  text-align: center;
  width: 100%;
  height: 94.1%;
  position: relative;
  background: url("/../img/banner.jpg") no-repeat center center/cover; }
  .container.home-banner .banner-header {
    position: absolute;
    left: 0;
    bottom: 10%;
    right: 0;
    margin-left: auto;
    margin-right: auto; }
    .container.home-banner .banner-header h1 {
      text-transform: none;
      display: block;
      max-width: 50%;
      margin: 0 auto;
      color: #fbfbfb;
      font-family: 'Open Sans', sans-serif;
      font-size: 2rem;
      font-weight: normal;
      text-shadow: 1px 1px 1px grey; }
  .container.home-banner img {
    display: block;
    margin: 0 auto 20px;
    outline: 1px solid #ddd;
    border-top: 1px solid #fff;
    padding: 10px;
    background: #f0f0f0; }

@media (min-width: 768px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px; }
  .container.home.banner {
    height: 92.1%; }
  header .container.home-banner {
    padding-top: 550px;
    text-shadow: 2px 2px 8px #353535;
    width: 100%;
    height: 90%;
    display: table; }
    header .container.home-banner .intro-text .name {
      font-size: 4.75em; }
    header .container.home-banner .intro-text .intro-header {
      font-size: 1.95em; } }

@media (max-width: 768px) {
  div.container.home-banner {
    height: 25%; }
    div.container.home-banner div.banner-header h1.intro-header {
      font-size: 1.75em;
      padding-top: 10vh;
      max-width: 90%; }
  section.first {
    padding-top: 75px; } }

.btn-outline {
  color: white;
  font-size: 20px;
  border: solid 2px white;
  background: transparent;
  transition: all 0.3s ease-in-out;
  margin-top: 15px; }

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  color: #18bc9c;
  background: white;
  border: solid 2px white; }

footer {
  color: white; }
  footer .footer-below {
    padding: 25px 0;
    background-color: #619B8A;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); }

.profile-panel {
  padding-top: 50px;
  background-color: #A1C181; }
  .profile-panel h3 {
    margin-bottom: 30px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    color: #233D4D; }
  .profile-panel p {
    color: #fff;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    font-size: 1.6rem; }
  .profile-panel .footer-col {
    margin-bottom: 50px; }

.btn-social {
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 2px solid white;
  border-radius: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 45px; }

.btn:focus,
.btn:active,
.btn.active {
  outline: none; }

header div.profile-wrapper {
  height: 200px;
  padding: 50px 20px; }

header img.img-responsive {
  margin: auto;
  border: 10px solid white;
  padding: 0;
  position: relative;
  border-radius: 100%;
  bottom: 107px;
  top: 25px;
  width: 50%;
  max-width: 256px;
  min-width: 200px; }

@media all and (max-width: 850px) {
  section.about-text-block div.skill-bars span {
    text-align: left;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%; }
  section.about-text-block div.skill-bars div.progress {
    -ms-flex: 0 1 100%;
    flex: 0 1 100%; }
  div.about-panel .panel-body {
    padding: 80px 10%; } }

@media all and (max-width: 600px) {
  div.about-panel .panel-body {
    padding: 60px 10%; } }

div.skill-bars {
  display: -ms-flexbox;
  display: flex;
  max-width: 700px;
  margin: auto;
  -ms-flex-flow: row wrap;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap; }
  div.skill-bars span {
    text-align: right;
    padding-right: 1.7%;
    -ms-flex: 0 1 24%;
    flex: 0 1 24%; }
  div.skill-bars div.progress {
    -ms-flex: 0 1 70%;
    flex: 0 1 70%; }

div.about-panel {
  text-align: left;
  margin: 0;
  border-radius: 0; }
  div.about-panel section.about-text-block {
    padding-top: 20px; }
    div.about-panel section.about-text-block h1 {
      color: #423F37;
      font-size: 1.9rem;
      font-weight: normal;
      text-transform: none;
      margin-bottom: 30px;
      margin-top: 30px; }
  div.about-panel .panel-body {
    padding: 100px 10%;
    max-width: 1100px;
    margin: auto; }
  div.about-panel #resume-dwnld {
    margin: 10px 0 10px 0; }
  div.about-panel #github-btn {
    margin: 10px 0 10px 0; }

div.work-panel {
  text-align: left;
  margin: 0;
  border-radius: 0;
  padding-top: 0; }
  div.work-panel h1, div.work-panel h2 {
    color: #423F37;
    font-size: 30px;
    font-weight: normal;
    text-transform: none;
    margin-top: 30px; }
  div.work-panel h1 {
    margin-top: 60px;
    margin-bottom: 70px;
    text-align: center; }
  div.work-panel .panel-body {
    padding: 20px 10% 100px; }
  div.work-panel p {
    padding-bottom: 10px;
    margin-top: 30px; }
  div.work-panel span.date {
    color: #c2c2c2;
    font-weight: bolder; }

div.project-panel {
  text-align: left;
  margin: 0;
  border-radius: 0;
  padding-top: 0; }
  div.project-panel h1, div.project-panel h2 {
    color: #423F37;
    font-size: 30px;
    font-weight: normal;
    text-transform: none;
    margin-top: 30px; }
  div.project-panel h1 {
    margin-top: 60px;
    text-align: center; }
  div.project-panel .panel-body {
    padding: 20px 10% 100px; }
  div.project-panel span.date {
    color: #c2c2c2;
    font-weight: bolder; }

.project-img {
  height: 200px;
  background-size: cover;
  width: 100%; }
  .project-img#loqiva1 {
    background: url("/img/loqiva.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 0;
    padding-top: 108%; }

#festival1 {
  margin: auto;
  display: block;
  min-width: 250px; }

#festival2 {
  margin: auto;
  display: block;
  min-width: 250px; }

#loqiva-iphone {
  width: 50%;
  max-width: 473px;
  margin: 5% auto 0 auto;
  display: block;
  min-width: 250px; }

#feedback-page {
  text-align: center; }

#form-main {
  width: 100%;
  margin: 10vh 0; }

div.contact-panel {
  text-align: left;
  margin: 0;
  border-radius: 0;
  padding-top: 0;
  border: none; }

.contact-form {
  width: 100%;
  max-width: 400px;
  margin: auto; }
  .contact-form input {
    height: 50px; }

div.contact-wrapper {
  padding: 70px 20px;
  background-image: url("../../img/cubes.png");
  font-size: 1.4em;
  color: grey; }

@media all and (max-width: 500px) {
  div.contact-wrapper {
    font-size: 1.2em; } }

/*# sourceMappingURL=app.css.map */
