
header {

  div.profile-wrapper{
    height: 200px;
    padding:50px 20px;
    background-image: url("../../img/binding_light.png");
    background-repeat: repeat;
  }
  img.img-responsive {
    width: 256px;
    margin: auto;
    border: 10px solid white;
    padding: 0px;
    position: relative;
    border-radius: 100%;
    bottom: 107px;
    top: 25px;
  }

}

div.about-panel{
  text-align: left;
}
