header {

  div.profile-wrapper{
    height: 200px;
    padding:50px 20px;
  }
  img.img-responsive {
    width: 256px;
    margin: auto;
    border: 10px solid white;
    padding: 0px;
    position: relative;
    border-radius: 100%;
    bottom: 107px;
    top: 25px;
  }

}

div.skill-bars{
  margin: 10px;
  display: inline-block;
  span{
    width: 25%;
    text-align: right;
    float: left;
    padding-right: 10px;
  }
  div.progress{
    float:left;
    width:75%;
  }
}

div.about-panel{
  text-align: left;
  margin: 0;
  border-radius: 0;
  section.about-text-block{
    h1{
      color: #423F37;
      font-size: 30px;
      font-weight:normal;
      text-transform: none;
      margin-bottom: 30px;
      margin-top: 30px;
    }
    padding-top: 20px;
  }
  .panel-body{
    padding: 100px 10%;
  }
}
