.navbar {
  height: 6%;
  position: relative;
  margin: 0;
  font-weight: 700;
  a:focus {
    outline: none;
  }
  .navbar-nav {
    letter-spacing: 1px;
  }
  li a:focus {
    outline: none;
  }
  a:hover {
    color: black;
  }

}

@mixin transition($time) {
  -webkit-transition: all $time;
  -moz-transition: all $time;
  transition: all $time;
}

.navbar-default,
.navbar-inverse {
  border: none;
}

@media (min-width: 768px) {
  .navbar {
    height: 8%;
  }
  .navbar-fixed-top {
    padding: 5px 0;
    @include transition(0.3s);
    .navbar-brand {
      font-size: 1.5em;
    }
    &.navbar-shrink {
      padding: 10px 0;
      .navbar-brand {
        font-size: 1.5em;
      }
    }
  }
}

.navbar-default .navbar-nav li.page-scroll {
  &.active a {
    color: dimgrey;
    background: none;
    box-shadow: none;
  }
  a {
    text-shadow: none;
    font-size: 1.3em;
    padding-left: 30px;
    color: #B4B4B4;
    &:hover {
      transform: skewY(-2deg);
      color: dimgrey;
      transition: .4s;
    }
  }
}

@media (max-width: 768px) {
  .navbar-brand {
    font-size: 1.4em;
  }
  .navbar-collapse {
    border-bottom: 1px solid #BDBDBD;
    background-color: rgb(255, 255, 255);
  }
  .navbar-nav li.page-scroll {
    border-top: 1px solid rgb(251, 251, 251);
  }
}

.navbar-brand {
  text-shadow: none;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
}

